## Python for Data Science
### FUHSD Adult School
### Sanjay

In [1]:
print("Hello Sunday")

Hello Sunday

In [2]:
print("Hello, Python!")

Hello, Python!

### --- Exercise 1
### Print the following string "Learning Python for Data Science"

In [3]:
# Exercise 1 - write code in this cell and click on Run
print("Learning Python for Data Science")

Learning Python for Data Science

In [10]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

a = b = c = 1
print(a)
print(b)
print(c)

100
1000.0
John
1
1
1

### --- Exrecise 2
### Create variables with your first_name and last_name
### print first_name and last_name

In [4]:
# Exercise 2 - Python code
first_name='Tahseen'
last_name='Baig'
print(first_name)
print(last_name)

Tahseen
Baig

In [9]:
# Exercise 2b -- write code in this cell and click on Run
# Initialise following variables:
class_name = "Python for Data Science"
which_day = "Saturdays"
Num_days = "eight"
Class_timings = "9am to noon"
print(class_name + ' class is on ' + Num_days + ' ' + which_day + ' ' +Class_timings)
# You want to print the following:
# "Python for Data Science class is on eight Saturdays 9 am to noon"

Python for Data Science class is on eight Saturdays 9am to noon

In [11]:
str = 'Hello World!'

a = str
b = str[0]
c = str[2:7]
d = str[2:]
e = str * 2
f = str + " " + "TEST"
g = str[-1]
h = str[-3:]
print(a)          # Prints complete string
print(b)       # Prints first character of the string
print(c)     # Prints characters starting from 3rd to 5th
print(d)      # Prints string starting from 3rd character
print(e)      # Prints string two times
print(f) # Prints concatenated string
print(g)
print(h)

Hello World!
H
llo W
llo World!
Hello World!Hello World!
Hello World! TEST
!
ld!

### --- Exercise 3 
### print first two characters of first_name and last two characters of last_name

In [13]:
# Exercise 3 - write code in this cell 
# You want to extract first letter from first_name, middle_name, and last_name
fn='Tahseen'
mn='Fatema'
ln='Baig'

a=fn[0]
b=mn[0]
c=ln[0]

print(a)
print(b)
print(c)

#Print first two characters of Firstname 
d=fn[0:2]
print(d)

#Print last two characters of Lastname
e=ln[-2:]
print(e)

T
F
B
Ta
ig

In [14]:
###########################################################
## Python Lists
###########################################################
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[-3:])

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]

## Exercise 4 -- Lists
## Define a new Python list "new_list" and initialize it with "1","A","2","B","3","C"
## Print values with alternate indices 0,2,4 and 1,3,5

In [17]:
## Write code for Exercise 4 in this cell
new_list = [1,'A',2,'B',3,'C']
L1=new_list[0::2]
print (L1)

L2=new_list[1::2]
print(L2)

[1, 2, 3]
['A', 'B', 'C']

In [18]:
###########################################################
## Python Tuples
###########################################################
tuple = ('abcd', 786 , 2.23, 'john', 70.2 )
tuple = ('abcde', 786 , 2.23, 'john', 70.2 )
# tuple[0] = "sanjay"
print(tuple)          # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])     # Prints elements starting from 2nd till 3rd 
var1 = "jshjah"
var1 = "aaaaa"
print(var1)

('abcde', 786, 2.23, 'john', 70.2)
abcde
(786, 2.23)
aaaaa

In [19]:
## Decisions in Python
var = 150000
if var == 2000:
   print("1 - Got a true expression value")
   print(var)
elif var == 150:
   print("2 - Got a true expression value")
   print(var)
elif var == 100:
   print("3 - Got a true expression value")
   print(var)
elif var == "Sunnyvale":
    print("var is Sunnyvale")
else:
   print("4 - Got a false expression value")
   print(var)

4 - Got a false expression value
150000

### --- Exercise 5 - if .. elif .. else
### Initialize string state_name to be "California" or "Texas"
### write if ... elif ... else checking state_name 
### if state_name is California, print "Golden State"
### if state_name is Texas, print "Lone Star State"
### default else to printing "Not Golden State or Lone Star State"

In [23]:
# Write code for Exercise 5 in this box
state_name='California'
if state_name == 'California':
    print('Golden State')
elif state_name == 'Texas':
    print("Lone Star State")
else:
    print('Not Golden State or Lone Star State')

Golden State

In [20]:
## For and while Loops
## while loop
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

## for loop
for letter in 'Python':     # First Example
   print('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)

cars = ["honda","toyota","tesla"]
cars.reverse()
print(cars)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
['tesla', 'toyota', 'honda']

### --- Exercise 6 -- print fruits in reverse order, one line per fruit
### mango
### apple
### banana

In [24]:
# Write code for Exercise 6 in this cell
fruits = ['banana','apple','mango']
fruits.reverse()
for fruit in fruits:
    print(fruit)

mango
apple
banana

In [25]:
## Functions in Python
def add_numbers(a=5,b=10):
    c = a + b
    return c

result = add_numbers(2,12)
print(result)
result = add_numbers()
print(result)
result = add_numbers(2,12)
print(result)
result = add_numbers(100)
print(result)

14
15
14
110

### --- Exercise 7 -- functions -- 
### write function to find square(a) + square(b), given a and b
### def square_and_sum(a,b)
### when a = 2 and b = 3, the function should return 13
###
### write function to add strings 
### def add_strings(str1,str2)
### when str1 = "Hello" and str2 = "World", 
### it should return "Hello World!!!" with space and !!!.

In [30]:
# Write code for Exercise 7 in this cell
import math
def square_and_sum(a,b):
    c=math.pow(a,2)+math.pow(b,2)
    return int(c)

def add_strings(str1,str2):
    str3=str1+ ' '+str2+'!!!'
    return str3

result = square_and_sum(2,3)
print(result)

result= add_strings('Hello','World')
print(result)

13
Hello World!!!

In [31]:
for x in range(10): 
    print(x)

0
1
2
3
4
5
6
7
8
9

In [32]:
# range also follows the format range(start_value,stop_value,step_value)
for x in range(1,6,2):
    print(x)

1
3
5

### --- Exercise 8 -- using range
### print numbers 10, 9, 8, ..., 1

In [38]:
# Write code for Exercise 8 in this cell
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [44]:
## Appending and extending Python lists
list1 = [1,11,111]
list2 = [2,22,222]

list1.append(1111)

print("list1-a = %s" % list1)
print("list1-a =",list1)

list1.extend(list2)
print("list1-b = %s" % list1)

list1.remove(222)
print("list1-c = %s" % list1)

list1.sort()
print("list1-d = %s" % list1)

list1.sort(reverse=True)
print("list1-e = %s" % list1)

list1-a = [1, 11, 111, 1111]
list1-a = [1, 11, 111, 1111]
list1-b = [1, 11, 111, 1111, 2, 22, 222]
list1-c = [1, 11, 111, 1111, 2, 22]
list1-d = [1, 2, 11, 22, 111, 1111]
list1-e = [1111, 111, 22, 11, 2, 1]

### --- Exercise 9 -- lists with strings
### Initialize states_list with California, Texas, Arizona
### step 1: Add Florida
### step 2: Remove Texas
### step 3: Sort ascending order, and print the list
### step 4: Sort descending order, and print the list

In [48]:
# Write code for Exercise 9 in this cell
state_list = ['California','Texas','Arizona']

state_list.append('Florida')
print("state_list-1 = %s" % state_list)

state_list.remove('Texas')
print("state_list-2 = %s" % state_list)

state_list.sort()
print("state_list-3 = %s" %state_list)

state_list.sort(reverse=True)
print("state_list-4 = %s" % state_list)

state_list-1 = ['California', 'Texas', 'Arizona', 'Florida']
state_list-2 = ['California', 'Arizona', 'Florida']
state_list-3 = ['Arizona', 'California', 'Florida']
state_list-4 = ['Florida', 'California', 'Arizona']

In [49]:
## Integer and floating division
def div1(x,y):
    print(x/y)
    
def div2(x,y):
    print(x//y) # integer division

div1(5,2)
div1(5.,2)
div2(5,2)
div2(5.,2.)

2.5
2.5
2
2.0

In [50]:
# Printing list length
list1 = ['a', 'b', 'c', 'd', 'e']
print(len(list1))

list2 = [11,22,33,44,55,66,77,88,99,110]
print(list2[1])

print(list2[-2])

5
22
99

In [51]:
state_name = "California"
find_str = state_name.find("a")
print("1--",find_str)

find_str = state_name.find("z")
print("2--",find_str)

count_str = state_name.count("a",0,4)
print("3--",count_str)

find_str = state_name.find("nia")
print("4--",find_str)

1-- 1
2-- -1
3-- 1
4-- 7

In [82]:
### --- Exercise 10 -- find, count --- define the string Albert_Einstein
### Albert_Einstein = "Life is like riding a bicycle. To keep your balance 
### you must keep moving."
### Find number of occurences for: you, ing, life (all case sensitive)

Albert_Einstein="Life is like riding a bicycle. To keep your balance you must keep moving."

def find_substring_at(substring,string):
    found = -1
    while True:
        found = string.find(substring, found + 1)
        if found == -1:
            break
        yield found
        
def find_substring_count(substring,string):
    found_count=string.count(substring)
    return found_count
    

find_you_count = find_substring_count('you',Albert_Einstein)
find_ing_count = find_substring_count('ing',Albert_Einstein)
find_life_count = find_substring_count('life',Albert_Einstein)




find_you_at = find_substring_at('you',Albert_Einstein)
for x in find_you_at:
    print('"you" at %i' % x)
print("you_count = %i" %find_you_count)

find_ing_at = find_substring_at('ing',Albert_Einstein)
for x in find_ing_at:
    print('"ing" at %i' %x)
print("ing_count = %i" %find_ing_count)
    
find_life_at = find_substring_at('life',Albert_Einstein)
for x in find_life_at:
    print(x)
print("life_count = %i" %find_life_count)

#find_ing = Albert_Einstein.count('ing',0)

"you" at 39
"you" at 52
you_count = 2
"ing" at 16
"ing" at 69
ing_count = 2
life_count = 0

In [81]:
# Write code for Exercise 10 in this cell
##Using regexp and lookahead

import re
Albert_Einstein="Life is like riding a bicycle. To keep your balance you must keep moving."
you=[x.start() for x in re.finditer('(?=you)',Albert_Einstein)]
for y in you:
    print('you at: %i' %y)

you_count = Albert_Einstein.count('you')
print('"you" count is %i' % you_count)

ing=[x.start() for x in re.finditer('(?=ing)', Albert_Einstein)]
for n in ing:
    print('ing at: %i' %n)
    
ing_count = Albert_Einstein.count('ing')
print('"ing" count is %i'%ing_count)
                                  
life=[x.start() for x in re.finditer('(?=life)',Albert_Einstein)]
for l in life:
    print('life at: %i' %l)

life_count=Albert_Einstein.count('life')
print('"life" count is %i' %life_count)

you at: 39
you at: 52
"you" count is 2
ing at: 16
ing at: 69
"ing" count is 2
"life" count is 0

In [83]:
# Splitting strings
ss = "Python for Data Science at FUHSD Adult School"

words = ss.split()
print("Words is a list: ",words)

ss1 = " ".join(words)
print("ss1 is a string: ",ss1)

Words is a list:  ['Python', 'for', 'Data', 'Science', 'at', 'FUHSD', 'Adult', 'School']
ss1 is a string:  Python for Data Science at FUHSD Adult School

In [ ]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

### --- Exrecise 11 Concatenate lists and print alternate
### 1) create a new list "states_123" which includes states_1,
### states_2, and states_3
### 2) Sort the list in ascending order
### 3) print alternate state names from states_123

In [93]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

#1 Create a New List that iincludes all the three lists
states_123= states_1 + states_2 + states_3

#print('states_123 = %s' %states_123)

#2 Sort the list in ascending order
states_123.sort()

#Print Alternate statenames from states_123
Alternate_states= states_123[0::2]
print ('Alternate_States= %s'  %Alternate_states)

Alternate_States= ['Alabama', 'California', 'Georgia', 'Nevada', 'Oregon', 'Washington']