## Class 2 Python for Data Science
### Python Dictionary
### List Comprehension
### Reading CSV file and fix data errors

One of Python's built−in datatypes is the dictionary, which defines one−to−one relationships between keys and values.

"Like lists dictionaries can easily be changed, can be shrunk and grown ad libitum at run time. They shrink and grow without the necessity of making copies. Dictionaries can be contained in lists and vice versa. But what's the difference between lists and dictionaries? Lists are ordered sets of objects, whereas dictionaries are <b>unordered sets.</b> But the main difference is that items in dictionaries are accessed via keys and not via their position."

<br>
A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key: value pairs to the dictionary; this is also the way dictionaries are written on output.

In [76]:
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict1

{'fruit': 'orange, watermelon, grape', 'vegetable': 'onion, mushroom, lettuce'}

### Keys

Get the keys from "dict1"

In [77]:
dict1.keys()

dict_keys(['fruit', 'vegetable'])

### Indexing With Keys?

What happens if you try to run "<b>dict1[0]</b>"? Why?

In [78]:
dict1["fruit"]

'orange, watermelon, grape'

OR

In [212]:
dict1.get("fruit")

'orange, watermelon, grape'

### ii.Values

Get the values from "dict1"

In [79]:
dict1.values()

dict_values(['orange, watermelon, grape', 'onion, mushroom, lettuce'])

### Indexing With Values?
A little more complicated

In [214]:
V = 'orange, watermelon, grape'

for key, value in dict1.items():
    if value == V:
        K = key
print(K)

fruit

### iii. Length of Dictionary

Returns the number of stored entries, i.e. the number of (key,value) pairs.

In [215]:
len(dict1)

2

### iv. Remove key and value

In [216]:
del dict1["vegetable"]
dict1

{'fruit': 'orange, watermelon, grape'}

### v. Add new value

In [217]:
dict1["new"] = 0
dict1

{'fruit': 'orange, watermelon, grape', 'new': 0}

### vi. Concatenating Dictionaries
<i>*Note: Keys must be unique</i>

In [2]:
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict2 = {"fruit": [5,6,7]}
dict1.update(dict2)
dict1

{'fruit': [5, 6, 7], 'vegetable': 'onion, mushroom, lettuce'}

### <font color = "coral">Exercise 1: Create a new dictionary</font>
<font color = "coral">Your keys should be "Country","State","City","ZipCode"

Fill in the values according to the keys.

In [8]:
#Your code here
Address = {"Country":"United States of America",
          "State": "California",
           "City": "Sunnyvale",
            "ZipCode": 94087}
Address

{'Country': 'United States of America',
 'State': 'California',
 'City': 'Sunnyvale',
 'ZipCode': 94087}

## Multi-dimensional Array

In [220]:
a = [[0,  1, 2, 3, 4, 5],
     [10,11,12,13,14,15],
     [20,21,22,23,24,25],
     [30,31,32,33,34,35],
     [40,41,42,43,44,45],
     [50,51,52,53,54,55]]

In [221]:
a[0]

[0, 1, 2, 3, 4, 5]

In [222]:
a[4:6]

[[40, 41, 42, 43, 44, 45], [50, 51, 52, 53, 54, 55]]

In [223]:
a[5][5]

55

### List Comprehensions

In [224]:
[x**2 for x in range(15)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

 SAME AS BELOW

In [225]:
original = list(range(15))

squares = []

for x in original:
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

#### What is happening in this loop?

In [226]:
new = []
for x in squares:
    if x < 100:
        new.append(x**2)
new

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [227]:
new = [i**2 for i in squares if i < 100]
new

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

### <font color = "coral">Exercise 2:
<font color = "coral">
Turn this for loop into a nested for list comprehension (Should only be one line).

In [228]:
mystery = []
for i in range(1000):
    if i%5 == 0:
        mystery.append(i)
print(mystery)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

In [6]:
#Your code here
mystery=[i for i in range(1000) if i%5==0]
print(mystery)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 3:</h1></font>

<font color = "coral">
Not that you have all this knowledge on different operators, data types, and loops create a loop that removes all the unwanted information from our list.

<b>1) Create a loop where you get rid of all the odd numbers.
<br><br>
2) Put all the numbers in order from smallest to largest.<br><br>
3) Once you only have a list of ordered even numbers convert all these integers into strings.<br><br>
4) Now print your number strings as a single string with comma separation.</b>

In [40]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]
#Your code here
#1) Create a loop where you get rid of all the odd numbers. 

even_lst=[]
even_lst = [lst[i] for i in range(len(lst)) if lst[i]%2==0]   
print(even_lst)
    
#2) Put all the numbers in order from smallest to largest.

even_lst.sort()
print(even_lst)

#3) Once you only have a list of ordered even numbers convert all these integers into strings.

even_lst_str = [ str(i) for i in even_lst]
print ( even_lst_str)

#4)Now print your number strings as a single string with comma separation.
single_str=""
for i in even_lst_str:    
    single_str=single_str+i+','  
print (single_str)

[4, 6, 2, 6, 8, 4, 6, 8, 454, 876, 54, 76, 34, 234234, 23432, 4, 1212, 76, 5432, 123212245346342, 2]
[2, 2, 4, 4, 4, 6, 6, 6, 8, 8, 34, 54, 76, 76, 454, 876, 1212, 5432, 23432, 234234, 123212245346342]
['2', '2', '4', '4', '4', '6', '6', '6', '8', '8', '34', '54', '76', '76', '454', '876', '1212', '5432', '23432', '234234', '123212245346342']
2,2,4,4,4,6,6,6,8,8,34,54,76,76,454,876,1212,5432,23432,234234,123212245346342,

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 4:</h1></font>

<font color = "coral">If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 10,000.

In [50]:
#Your answer here
##first try to write a loop for 10 number, if the loop works for 10 it will work for 10,000
sum=0
for i in range(1,10000):
    if i%3==0 or i%5==0:
        sum=sum+i
        
print(sum)

23331668

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 5:</h1></font>

<font color = "coral">
Calculate all square numbers (1,4,9,16,...) below 1,000. What's their sum?

In [60]:
#Your answer here
number=1
sum=0
while True:
    square=number**2
    if square >1000:
        break
    sum=sum+square
    number=number+1
print(sum)

10416

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 6:</h1></font>

<font color = "coral">
Write a function to calculate the mean (average) of "lst". Do not use the built-in "mean" functions that Python offers.

In [61]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55]
           
#Your answer here
# len function will give you the count of elements

sum=0
for i in lst:
    sum=sum+i
    
average=sum/len(lst)
print(round(average,2))

121.77

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 7:</h1></font>

<font color = "coral">
Write a function to calculate the median of "lst". Do not use the built-in "median" functions that Python offers.

In [70]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]

#Your answer here
#first sort the list then find the number of elements using len, find if it odd or even then calc the median
lst.sort()
ln=len(lst)
if ln%2==0:
    median = (lst[ln//2] + lst[ln//2 - 1])/2
    print(median)
else:
    median = lst[ln//2]
    print (median)

45
67

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 8:</h1></font>

<font color = "coral">Write a function to calculate the mode of "lst". Do not use the built-in "mode" functions that Python offers.

In [5]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]

#Your answer here
dict_count = {}
#dict_test = {1: 0,2: 4,3: 2}

#maximum = max(dict_test, dict_test.values())
#print(maximum)

for i in lst:
    countofi = lst.count(i)
    dict_count[i]=countofi
    
#print(dict_count)

maximum=max([i for i in dict_count.values()])
modes = []
for k,val in dict_count.items(): 
    if val == maximum:
        modes.append(str(k))
        
print(modes)

['4', '6']

# Reading CSV file -- bayarea_home_prices data

In [236]:
"""
Dataset description
1) HomeID = Home ID number
2) HomeAge = Age of home in years
3) HomeSqft = Square footage of home
4) LotSize = LotSize
5) BedRooms = Num bedrooms as per county data
6) HighSchoolAPI = API for nearest high school
7) ProxFwy = Distance in miles to Freeway
8) CarGarage = Number of cars in garage; 0 = no garage
9) ZipCode = Postal zip code for the home
10)HomePriceK = Home price in $K (Target)
-------------------------------------------
9 X Variables; 1 Y variable (Target)
Data Points = 100

Data errors:
1) Few ZipCode have starting digit to be 8, it should be 9
2) Few HighSchoolApi scores have two digits, the ending digit 0 is missing
3) Few CarGarage numbers were entered as letter "l", it should be integer 1 
"""

'\nDataset description\n1) HomeID = Home ID number\n2) HomeAge = Age of home in years\n3) HomeSqft = Square footage of home\n4) LotSize = LotSize\n5) BedRooms = Num bedrooms as per county data\n6) HighSchoolAPI = API for nearest high school\n7) ProxFwy = Distance in miles to Freeway\n8) CarGarage = Number of cars in garage; 0 = no garage\n9) ZipCode = Postal zip code for the home\n10)HomePriceK = Home price in $K (Target)\n-------------------------------------------\n9 X Variables; 1 Y variable (Target)\nData Points = 100\n\nData errors:\n1) Few ZipCode have starting digit to be 8, it should be 9\n2) Few HighSchoolApi scores have two digits, the ending digit 0 is missing\n3) Few CarGarage numbers were entered as letter "l", it should be integer 1 \n'

In [7]:
## Reading csv files
def read_file(filename):
    file_open = open(filename,"r")
    data_array = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue
        line_no_newline = line.rstrip() # delete white space characters
        line_split = line_no_newline.split(",")
        data_array.append(line_split) ##if you want only first 5 columns of all rows data_array.append(line_split[0:5])
    return data_array

In [9]:
housing_data = read_file("bayarea_home_prices.csv.xls")
print(housing_data[0:6])

[['1', '24', '1757', '6056', '2', '899', '3', '3', '94085', '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', '94085', '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', '94085', '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', '94085', '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', '94085', '890'], ['6', '18', '1589', '6148', '2', '920', '3', '0', '84085', '867']]

In [11]:
len_housing_data = len(housing_data)
print(len_housing_data)

100

In [12]:
list_HomeAge = []
# for all rows, extract only column 1
for k in range(0,len_housing_data):
    list_HomeAge.append(housing_data[k][1])

In [14]:
print(list_HomeAge) 
# they are still strings, cannot do numerical calculations with strings

['24', '10', '14', '14', '24', '18', '13', '19', '17', '24', '12', '22', '15', '25', '10', '20', '23', '16', '10', '13', '17', '10', '15', '10', '21', '12', '13', '10', '17', '24', '10', '18', '11', '19', '12', '14', '13', '22', '22', '15', '23', '21', '17', '11', '15', '11', '21', '22', '12', '19', '19', '25', '23', '12', '10', '11', '11', '19', '22', '19', '13', '19', '25', '12', '14', '25', '24', '12', '21', '16', '19', '24', '25', '17', '14', '12', '17', '25', '17', '11', '18', '19', '24', '25', '22', '19', '18', '22', '21', '14', '16', '18', '25', '21', '13', '11', '10', '21', '19', '11']

In [16]:
# How to convert zipcodes from text to numbers
for k in range(0,len_housing_data):
    housing_data[k][8] = int(housing_data[k][8])  # convert to integer data type and over-write

In [23]:
print(housing_data[0:5]) # Zipcode is without quotes and not strings; they are now integers

[['1', '24', '1757', '6056', '2', '899', '3', '3', 94085, '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', 94085, '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', 94085, '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', 94085, '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', 94085, '890']]

In [26]:
## Reading csv files, how to fix errors in data, replace 84085 with 94085
def read_file_housing(filename):
    file_open = open(filename,"r")
    data_array = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue
        line_no_newline = line.rstrip()
        line2 = line_no_newline.replace("84085","94085")
        line_split = line2.split(",")
        data_array.append(line_split)
    return data_array

In [27]:
housing_data2 = read_file_housing("bayarea_home_prices.csv.xls")
print(housing_data2[0:6])

[['1', '24', '1757', '6056', '2', '899', '3', '3', '94085', '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', '94085', '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', '94085', '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', '94085', '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', '94085', '890'], ['6', '18', '1589', '6148', '2', '920', '3', '0', '94085', '867']]

In [28]:
len_housing_data2 = len(housing_data2)
print(len_housing_data2)

100

In [29]:
list_ZipCode2 = []
# for all rows, extract all zipcodes
for k in range(0,len_housing_data2):
    list_ZipCode2.append(int(housing_data2[k][8]))

In [30]:
print(list_ZipCode2) # Converted to numbers

[94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 95051, 94085, 94085, 95051, 94085, 94085, 94085, 94085, 95051, 94085, 94085, 94085, 95051, 94085, 95051, 95051, 95051, 95051, 95051, 95051, 95051, 85051, 95051, 95051, 95051, 94087, 94087, 95051, 95051, 95051, 94087, 95051, 94087, 94087, 95051, 95051, 95051, 85051, 94087, 95051, 94087, 94087, 94087, 95051, 94087, 94087, 94087, 94087, 94087, 94087, 95014, 94087, 94087, 94087, 94087, 95014, 94087, 95014, 95014, 84087, 84087, 95014, 94087, 94087, 94087, 95014, 95014, 95014, 95014, 85014, 95014, 95014, 95014, 85014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014]

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 9:</h1></font>

In [99]:
"""
The above example shows correcting 84085 -> 94085
Perform other zip code corrections: 
84087 -> 94087,
85014 -> 95014,
85051 -> 95051
"""
#Your answer here

def read_house(filename):
    file_open = open(filename,"r")
    data_array1 = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue 
        line_no_newline = line.rstrip()
        if "84085" in line_no_newline:
            line2=line_no_newline.replace ("84085","94085")
            line_split = line2.split(",")
            data_array1.append(line_split)
        elif "84087" in line_no_newline:
            line2=line_no_newline.replace ("84087","94087")
            line_split = line2.split(",")
            data_array1.append(line_split)
        elif "85014" in line_no_newline:
            line2=line_no_newline.replace ("85014","95014")
            line_split = line2.split(",")
            data_array1.append(line_split)
        elif "85051" in line_no_newline:
            line2=line_no_newline.replace ("85051","95051")
            line_split = line2.split(",")
            data_array1.append(line_split)
        else:
            line_split=line_no_newline.split(",")
            data_array1.append(line_split)
            
    return data_array1

house_data = read_house("bayarea_home_prices.csv.xls")
#print(house_data[74])

"""
Create a table for zip code distribution after corrections:
After:Zipcode,House_Count
94085,25
94087,25
95051,25
95014,25
"""
#Your answer here

list_Zip = []
dict_zip_cnt={}
# for all rows, extract all zipcodes
for k in range(0,len(house_data)):
    list_Zip.append(int(house_data[k][8]))

for i in list_Zip:
    count_i=list_Zip.count(i)
    dict_zip_cnt[i] = count_i
print(dict_zip_cnt)

{94085: 25, 95051: 25, 94087: 25, 95014: 25}

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 10:</h1></font>

In [74]:
"""
Modify function read_file_housing to multiply incorrect SchoolAPI by 10.
Assume API value to be incorrect if it is a two digit number.
Calculate average School API by zipcode. Print the following:
Average_SchoolAPI,Cnt_of_homes,ZipCode
xyz,mn,abc
"""
#Your answer here

#HOUSE_DATA is from EXERCISE 9
#dict_zip_cnt is also from EXERCISE 9

API_SUM=0
len_house_data=len(house_data)
for k in range(0,len_house_data):
    house_data[k][5] = int(house_data[k][5])
    if len(str(abs(house_data[k][5]))) < 3:
        house_data[k][5] = int(house_data[k][5])*int(10)
#print(house_data[9])       
for key,val in dict_zip_cnt.items():
    for i in range(0,len_house_data):
        if int(house_data[i][8])== int(key):
            API_SUM=API_SUM+house_data[i][5]
        avg_api=API_SUM/val
    print(str(avg_api)+','+str(val)+','+str(key))

907.0,25,94085
1823.68,25,95051
2722.92,25,94087
3617.72,25,95014

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 11:</h1></font>

In [80]:
"""
Modify function read_file_housing to replace CarGarage value of 'l' with integer 1
Calculate and print the following:
Car_Garage,Cnt_of_homes
0,m
1,n
2,o
3,p
"""
data_array2= []
def read_file_housing1(filename):
    file_open = open(filename,"r")
    data_array = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue
        line_no_newline1 = line.rstrip()
        line_split1 = line_no_newline1.split(",")
        line_split1=[1 if i=='l' else i for i in line_split1]
        data_array2.append(line_split1)
    return data_array2

house_data_2=read_file_housing1("bayarea_home_prices.csv.xls")
print(house_data_2[12])

['13', '15', '1541', '6514', '2', '872', '2', 1, '94085', '933']

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 12:</h1></font>

In [83]:
"""
Find the average price of a home in this four zip codes area.
Zipcode,Avg_Price,Cnt_of_homes
"""

#HOUSE_DATA is from EXERCISE 9
#dict_zip_cnt is also from EXERCISE 9

PRICE_SUM=0
len_house_data=len(house_data)
      
for key,val in dict_zip_cnt.items():
    for i in range(0,len_house_data):
        if int(house_data[i][8])== int(key):
            PRICE_SUM=PRICE_SUM+int(house_data[i][9])
        avg_price=PRICE_SUM/val
    print(str(key)+','+str(avg_price)+','+str(val))

94085,885.96,25
95051,1909.16,25
94087,3060.64,25
95014,4323.96,25

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 13:</h1></font>

In [110]:
"""
Find the average price of a home in Sunnyvale (94087 and 94085).
Print the output as follows:
The average house price in Sunnyvale based on xx homes is $yyy (thousands).
"""
PRICE_SUM=0
count=0
len_house_data=len(house_data)
    
for i in range(0,len_house_data):
    if house_data[i][8]in ['94087','94085']:
        PRICE_SUM=PRICE_SUM+int(house_data[i][9])
        count=count+1
    avg_price=PRICE_SUM/count
print("The average house price in Sunnyvale based on "+str(count)+' homes is $'+str(avg_price)+'(thousands.)')

The average house price in Sunnyvale based on 50 homes is $1018.72(thousands.)